> can I change the timeout?

You can, using the `updateTiming` function (see [here](https://github.com/coapjs/node-coap#updateTiming)). For example, you could increase the maximum number of retransmits from 4 to 5:

```ts
const coapTiming = {
    maxRetransmit: 5,
}

updateTiming(coapTiming)
```

Details regarding the individual parameters can be found in [RFC 7252, section 4.8](https://www.rfc-editor.org/rfc/rfc7252#section-4.8).